@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .animation {
      display: inline-block;
      animation: fadeIn 1.5s forwards;
      opacity: 0;
      transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .first {
      display: inline-block;
      z-index: 1;
      position: relative;
  }
  .slide {
      display: inline-flex;
      overflow: hidden;
  }
  .second {
      z-index: -1;
      display: inline-block;
      opacity: 0;
  }
  .animated {
      animation: secondspan 1.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .reverse {
      animation: reversespan 1.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  @keyframes fadeIn {
      0% {
          opacity: 0;
          transform: scale(1);
      }
      50% {
          opacity: 1;
          transform: scale(1);
      }
      100% {
          opacity: 1;
          transform: scale(1);
      }
  }
  @keyframes secondspan {
      0% {
          opacity: 1;
          transform: translateX(-100%);
      }
      60% {
          opacity: 1;
          transform: translateX(-100%);
      }
      100% {
          opacity: 1;
          transform: translateX(0%);
      }
  }
  @keyframes reversespan {
      0% {
          opacity: 1;
          transform: translateX(0%);
      }
      60% {
          opacity: 1;
          transform: translateX(-100%);
      }
      100% {
          opacity: 1;
          transform: translateX(-100%);
      }
  }
  
  @keyframes display {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(-100px);
      opacity: 0;
    }
  }
  
  .pic-ctn {
    position: relative;
    width: 80%;
  }
  
  .pic-ctn > img {
    position: absolute;
    opacity: 0;
    animation: display 10s infinite;
  }
  
  img:nth-child(2) {
    animation-delay: 2s;
  }
  img:nth-child(3) {
    animation-delay: 4s;
  }
  img:nth-child(4) {
    animation-delay: 6s;
  }
  img:nth-child(5) {
    animation-delay: 8s;
  }
}
